<!DOCTYPE html>
<html lang="en">

<head xmls:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section th:fragment="agregar-cliente">

        <div id="agregar-cliente" class="modal fade">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header bg-info text-white">

                        <h5 class="modal-title">[[#{persona.accion.agregar-cliente}]]</h5>

                        <button class="close" data-dismiss="modal">

                            <span>&times;</span>

                        </button>
                    </div>

                    <form th:action="@{/guardar}" th:object="${persona}" method="POST" class="was-validated">

                        <div class="modal-body">
                            <div class="form-group">

                                <label for="nombre">[[#{persona.nombre}]]</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" required="true">
                            </div>

                            <div class="form-group">
                                <label for="apellido">[[#{persona.apellido}]]</label>
                                <input type="text" id="apellido" name="apellido" class="form-control" required="true">
                            </div>

                            <div class="form-group">
                                <label for="email">[[#{persona.email}]]</label>
                                <input type="email" id="email" name="email" class="form-control" required="true">
                            </div>

                            <div class="form-group">
                                <label for="telefono">[[#{persona.telefono}]]</label>
                                <input type="tel" id="telefono" name="telefono" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="saldo">[[#{persona.saldo}]]</label>
                                <input type="number" name="saldo" id="saldo" class="form-control" required="true"
                                    step="any">
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </section>

</body>

</html>