<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section th:fragment="botones-agregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregar-cliente">
                        <i class="fas fa-plus"> [[#{persona.accion.agregar-cliente}]]</i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>