<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de clientes</title>
</head>

<body>

    <section th:fragment="listado-clientes" id="clientes">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{persona.titulo-lista}]]</h4>
                        </div>
                        <div th:if="${listaDeUsuarios != null and !listaDeUsuarios.empty}">

                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>[[#{persona.nombre}]]</th>
                                        <th>[[#{persona.saldo}]]</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="persona,contador:${listaDeUsuarios}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${persona.nombre} + ' ' + ${persona.apellido}]]</td>
                                        <td>[[${new java.text.DecimalFormat('$#,##0.00').format(persona.saldo)}]]</td>
                                        <td>
                                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                th:href="@{/editar/} + ${persona.idPersona}" class="btn btn-secondary">
                                                <i class="fas fa-angle-double-right"></i>
                                                [[#{persona.accion.editar}]]
                                            </a>
                                        </td>
                                        <td>
                                            <a sec:authoriza="hasRole('ROLER_ADMIN')"
                                                th:href="@{/eliminar(idPersona=${persona.idPersona})}"
                                                class="btn btn-danger">
                                                <i class="fas fa-angle-double-right"></i> [[#{persona.accion.eliminar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="text center p-2" th:if="${listaDeUsuarios==null or listaDeUsuarios.isEmpty}">
                            <span>[[#{persona.lista-vacia}]]</span>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card-text-center bg-danger text-white mb-3 rounded">
                        <div class="card-body">
                            <h3>
                                [[#{persona.saldo-total}]]
                            </h3>
                            <h4 class="display-4"> [[${new java.text.DecimalFormat('$#,##0.00').format(saldoTotal)}]]
                            </h4>
                        </div>
                    </div>

                    
                <div class="card-text-center bg-success text-white mb-3 rounded">
                    <div class="card-body">
                        <h3>
                            [[#{persona.total-clientes}]]
                        </h3>
                        <h4 class="display-4"> 
                           <i class="fas fa-users"></i> [[${totalClientes}]]</h4>
                    </div>
                </div>


                </div>





            </div>
        </div>

    </section>

</body>

</html>