<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:fragment="header">
        <h1 th:text="#{plantilla.titulo}">Control de clientes</h1>
    </header>

    <footer th:fragment="footer">
        <div>
            <br>
            <a th:href="@{/(lang=es)}">ES</a>|
            <a th:href="@{/(lang=en)}">EN</a>|            
            <a th:href="@{/(lang=fr)}">FR</a>|
            <span>
                <p>[[#{plantilla.footer}]]
                    <a href="https:www.google.com" target="_blank"> -Google</a>
                </p>
            </span>
            <form method="POST" th:action="@{/logout}" >
                <b>User: <span sec:authentication="name">Usuario que hizo login</span></b> |
                <b>Rol: <span sec:authentication="principal.authorities">Roles</span></b>
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </div>

    </footer>

</body>