<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/plantilla::head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <header th:replace="layouts/plantilla::header"></header>

    <section th:replace="layouts/botones-agregar::botones-agregar"></section>
    <section th:replace="layouts/agregar-cliente::agregar-cliente"></section>
    <section th:replace="layouts/listado-clientes::listado-clientes"></section>
    

    <footer th:replace="layouts/plantilla::footer"></footer>


</body>

</html>