<!DOCTYPE html>
<html lang="en">

<head xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>

<body>
    <h1>Datos de la persona</h1>
    <a th:href="@{/}">Volver</a>
    <form th:action="@{/guardar}" method="POST" th:object="${persona}">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="Nombre" th:field="*{nombre}" placeholder="Ingrese su nombre">
        <br>
        <label for="apellido">Apelllido:</label><br>
        <input type="text" name="apellido" id="Apellido" th:field="*{apellido}" placeholder="Ingrese su apellido">
        <br>
        <label for="email">E-mail:</label><br>
        <input type="email" name="email" id="Email" th:field="*{email}" placeholder="Ingrese su e-mail">
        <br>
        <label for="telefono">Telefono:</label><br>
        <input type="tel" name="telefono" id="Telefono" th:field="*{telefono}"
            placeholder="Ingrese su número de teléfono">
        <br>
        <input type="submit" name"guardar" value="Guardar">



    </form>
</body>

</html>