<!DOCTYPE html>
<html lang="en">

<head xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>

<body>
    <header th:replace="layouts/plantilla::header"></header>
    <h1>[[#{persona.titulo-formulario}]]</h1>
    <a th:href="@{/}">[[#{accion.volver}]]</a>


    <a th:href="@{/}">Volver</a>
    <form th:action="@{/guardar}" method="POST" th:object="${persona}">
        <input type="hidden" name="idPersona" th:field="*{idPersona}">

        <label for="nombre">[[#{persona.nombre}]]:</label> <br>
        <input type="text" name="nombre" id="Nombre" th:field="*{nombre}" placeholder="Ingrese su nombre">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        <br>

        <label for="apellido">[[#{persona.apellido}]]:</label><br>
        <input type="text" name="apellido" id="Apellido" th:field="*{apellido}" placeholder="Ingrese su apellido">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors= "*{apellido}">Error apellido</span>
        <br>

        <label for="email">[[#{persona.email}]]:</label><br>
        <input type="text" name="email" id="Email" th:field="*{email}" placeholder="Ingrese su e-mail">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error e-mail</span>
        <br>
        <label for="telefono">[[#{persona.telefono}]]:</label><br>
        <input type="tel" name="telefono" id="Telefono" th:field="*{telefono}"
            placeholder="Ingrese su número de teléfono">
        <br>
        <input type="submit" name="guardar" th:value="#{accion.guardar}">

        <footer th:replace="layouts/plantilla::footer"></footer>

    </form>
</body>

</html>